---
import type { Database, Id } from '../types'
export interface Props {
	database: Database
	invoiceId: Id
	entityId: Id
}

const { database, invoiceId, entityId } = Astro.props
const invoice = database.invoices[invoiceId]
const client = database.entities[invoice.client]
---

<li>
	<a href={`/entity/${entityId}/invoice/${invoice.id}`}>
		#{invoice.id}: {client.name} - {invoice.project.name}
	</a>
</li>
